*{
  margin: 0;
  padding: 0;
}
html{
  font-size: 1.5vw;
}
header{
  background-color: yellow;
  padding: 0 2rem;
}
body{
  background-color: black;
}
section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 8rem;
  height: 80vh;
  /* border-bottom: 1px solid grey;  */
}
.content-out{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.section1{
  /* background-color: cadetblue; */
  height: 90vh;
}
.section1 .content-out{
  margin-top: 20rem;
  opacity: 0;
}
/* .section2{
  background-color: beige;
}
.section3{
  background-color: burlywood;
}
.section4{
  background-color: chocolate;
} */
section .content{
  width: 30%;
}
h3{
  color: greenyellow;
  font-size: 5rem;
}
.ball{
  width: 5rem;
  height: 5rem;
  position: fixed;
  background-color: white;
  border-radius: 100%;
  left: 47%;
  top: 48vh;
  z-index: 5;
}
.line{
  height: 52vh;
  width: 0.15rem;
  position: fixed;
  background-color: white;
  left: 50.7%;
  top: -2%;
  animation: upDown 5s infinite;
}

.ball.up-down {
  animation: upDown 5s infinite;
}
@keyframes upDown {
  0% {
    transform: translateX(0) ;
  }
  25% {
    transform: translateX(0.5rem) ;/* Move diagonally up-right */
  }
  50% {
    transform: translateX(0); /* Return to start */
  }
  75% {
    transform: translateX(-0.5rem); /* Move diagonally down-left */
  }
  100% {
    transform: translateX(0); /* Return to start */
  }
}


@keyframes bounceAnimation {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5rem); /* Adjust bounce height */
  }
}

.ball {
  animation: none; /* Start with no animation */
}


@media all and (max-width: 767px) {
  section{
    height: 105vh;
  }

}